@import url("https://fonts.cdnfonts.com/css/nintendo-ds-bios");

:root {
  /* Color palette */
  --background-primary: #f1efe9;
  --color-secondary: #beceb0;
  --color-accent: #34857f;
  --color-muted: #b0a48a;
}

html {
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 24px;
  background-color: var(--background-primary);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.06) 1px, transparent 1px);
  background-size: 40px 40px;
}
