---
// Hero title section for the top of the landing page
---
<div id="container">
  <main>
    <section id="hero">
      <h1>Welcome To My Digital Garden</h1>
      <section id="links">
        <h2>Enjoy reading my collection of thoughts and learnings.</h2>
      </section>
    </section>
  </main>
</div>
